/* HomePage.css */

.homepage {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
  }
  
  .hostel-options {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hostel-option {
    margin: 0 20px;
  }
  
  .hostel-option a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
  }
  
  .hostel-option a:hover {
    transform: translateY(-5px);
  }
  
  .hostel-option img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .hostel-option img:hover {
    transform: scale(1.05);
  }
  
  .hostel-option h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  