.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login-page {
    width: 450px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    
}

.login-page h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.login-page button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 55%;
}

.login-page button:hover {
    background-color: #0056b3;
}

.extralinks {
    text-align: center;
    margin-top: 10px;
}

.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-gray-500 {
    color: #888888;
}
